<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--This configuration file contains necessary game configurations and parameters used in the game-->
  <!--Since there are many messages and it's messy to handle them all in the code itselt, a separate confg file is used-->
  
  
  
  <appSettings>
    
    
  </appSettings>
  
</configuration>