<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--This configuration file contains necessary game configurations and parameters used in the game-->
  <!---->
  
  <appSettings>

    <add key="screen_width" value="1500"/>
    <add key="screen_height" value="1000"/>
    <add key="cells" value="20"/>
    <add key="bullet_speed" value="3"/>
    <add key="init_health" value="100"/>
    <add key="health_increment" value="0.2"/>
    
    
  </appSettings>
  
</configuration>