<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--This configuration file contains necessary game parameters used in the game-->
  <!---->
  
  <appSettings>

    
    <add key="map_size" value="20"/>
    <!--Map Size-->
    <add key="bullet_speed" value="3"/>
    <!--bullet will be travelled bullet_speed times faster than the tank-->
    <add key="init_health" value="100"/>
    <add key="health_increment" value="0.2"/>

    <add key="ServerIP" value="127.0.0.1" />
    <!--IP of the server-->
    <add key="ServerPort" value="6000" />
    <!--Port that the server listens to-->
    <add key="ClientPort" value="7000" />
    <!--Port that the client listens to-->
    
    
    
    
    
  </appSettings>
  
</configuration>